body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    max-width: 1024px;
    margin: 0 auto;
    background-color: #181120;

  }
  
  h1 {
    font-size: 48px;
    font-weight: 900;
    color: #d0632a;
    text-shadow: 2px 2px 5px #000000;


  }

  .header-logo {
    color:#f9faf8;
    font-size: 24px;
    font-weight: bold;
  }

  h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
  }
  
  header {
    background-color: #181120;
    padding: 1em;
    display: flex;
    justify-content: space-between;
  }
  
  header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  header nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  header nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
  }
  p {
    color:#e5e7eb;
    padding: none;
    margin: 0;

  }
  p.cta {
    font-weight: bold;
  }
   
 
  
  section {
    padding: 5em;
    
  } 
  
  #hero {
   
    background-image: url("city\ 1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    display: flex;
    justify-content: space-between;

  }
  
  #info {
    text-align: center;
    background-color: #00686c;
   
  }

#quote {
  background-image: url("city\ 2.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  background-size: cover;
  text-align: center;
  

}

blockquote {
    font-size: 36px;
    font-style: italic;
    color:#fff;
    text-shadow: 2px 2px 5px #000000;

    
  margin: 0;
}

#cta {
  
  text-align: center;
  background-color:#6F1D2B ;
}


.sign-up {
    background-color: #D0623A;
    margin: 1em;
    padding: 2em 3em;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    
    

}
button {
  background-color: #00686C;
  color: white;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
}

footer {
  background-color: #181120;
  text-align: center;
  padding: 20px;
}

.container {
    
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    }

    .sub-container {
   
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    margin: 1em;

}
  
  .item {
    width: 100%;
    min-width: 200px;
    height: 200px;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 2px solid #d0632a;
    
    
  }

  .caption {
    text-align: center;
    margin: 0;
  }

  .heropix {
   max-width:50% ;
   min-width: 400px;
   display: flex;
   justify-content: right;
  }
  
  .infopix {
    width: 200px;
  }
  
  
  
  
  